/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
h1 {
  color: #901600;
}

/* line 9, ../sass/_main.scss */
div.front_board {
  background-color: rgba(0, 28, 37, 0.15);
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 4px 10px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 4px 10px 2px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 4px 10px 2px;
  display: inline-block;
}

/* line 18, ../sass/_main.scss */
div.postNum {
  font-size: x-large;
  text-align: center;
}

/* line 24, ../sass/_main.scss */
div.form {
  background-color: rgba(0, 57, 189, 0.53);
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 4px 10px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 4px 10px 2px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 4px 10px 2px;
  display: inline-block;
}
